# Archivos compilados de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
.env
